# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
build/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.pkl
*.joblib

# Misc
.cache/
/plan1
/tailieu
/assets
/planv2
/planv3